<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @user.name %></h1>
    <p>
      You have made an appointment with Angel Tarot Carrick,
      
      Your username is: <%= @user.login %>.<br>
      Your appointment details are: <%= user.appointment.date %> at <%=user.appointment.timeslot %>.<br>

    </p>
  </body>
</html>