<!--
* Contact Form
*
* Version 1
*
* 02/06/2016
*
* @author Ruth Stephenson, X15009335
-->

<!DOCTYPE html>
<html>
	<head>
		<title>
			Contact Us
		</title>
	</head>
	<body><font color = "black">
		<h1>Please enter your details and message</h1><br>
		<h3>You can use this form to: </h3>
		<ul>
			<li>Submit a testimonial</li>
			<li>Request an online reading</li>
			<li>Cancel or change an appointment</li>
			<li>Anything else</li>
		</ul></font>

		<form name="myForm" action="http://mqttmartin.mybluemix.net/sendMail" method="get">

			<input type="hidden" name="email_to" value="angeltarotcarrick@gmail.com">	
			
			<div>
			Your E-Mail address : <br>
			<input type="email" name="from" required><br>
			

			Subject : <br>
			<input type="text" name="subject" required><br>
			<br>

			Message : <br>
			<textarea rows="6" cols="50" name="message" required></textarea><br>
			<br><br>
			
			<input type="Submit">
		</form>
		
	</body>
</html>