<!--
* application.css stylesheet
*
* Version 1
*
* Date e.g. 10/06/2016
*
# @author Ruth Stephenson, X15009335 -->


<!DOCTYPE html>
<html>
    <head>
            <center><title>Testimonials</title></center><br>
    </head>
    <body>
        <h1 align="center"> Read Testimonials From Previous Satisfied Customers: </h1>
    
        <div id="angieDiv">
            <p>
                <h1>Angie, Cork</h1><br>
                I found Angel Tarot Carrick to be very accurate. 
                The price was reasonable and the reader had a good selection of cards available to 
                choose from. 
            </p>
        </div><br>

        <div id="marieDiv">
            <p>
                <h1>Marie, Enniskillen</h1><br>
                I found Angel Tarot Carrick to be great! 
                Everyone in the Hen party had a great time. The reader was very professional but good fun too!
            </p>
        </div> <br>

        <div id="saoirseDiv">
            <p>
                <h1>Saoirse, Dublin</h1><br>
                BEST HEN PARTY READING EVER!!! :)
            </p>
        </div>
    </body>
</html>