/*
* application.css
*
* Version 1
*
* 23/06/2016
*
* @author Ruth Stephenson, X15009335

*= require_tree .
*= require_self
*/

@import "bootstrap";    /* @reference https://github.com/twbs/bootstrap-rubygem */

html body {
    background-image: url("mix1.jpg");
    background-size: cover; 
    background-size: 100% 100%;
}

#sign_in{
    float: right;
    color: maroon;
}

.nav-tabs{
    background-color: white;
    padding-left:-20px;
    padding-right:-20px;
}


#footer{
    width: 100%;
    height: 20%;
    background-color: pink;
    text-align: center;
}



/**
* @reference http://https://www.youtube.com/watch?v=Wo2-PcGD4mE
*/ 


    



/**
* @author Ruth Stephenson, X15009335
*/
#angieDiv{
    width: 90%;
    padding: 25px;
    border: 25px groove navy;
    margin: 25px;
}

#marieDiv{
    width: 90%;
    padding: 25px;
    border: 25px groove pink;
    margin: 25px;
}

#saoirseDiv{
    width: 90%;
    padding: 25px;
    border: 25px groove gray;
    margin: 25px;
}